In [17]:
#add pandas dependency
import pandas as pd

# List of high schools
#high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

#for schools in high_schools
#    print(schools)
    
# dictionary of high shcools and the type of school.
#high_school_types = [{"High School": "Griffin", "Type":"District"},
#                    {"High School": "Figueroa", "Type":"District"},
#                    {"High School": "Wilson", "Type":"Charter"},
#                    {"High School": "Wright", "Type":"Charter"}]

# Create a pandas series from a list                     
#school_series = pd.Series(high_schools)
#school_series                     

                     
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

school_df = pd.DataFrame(high_school_dicts)
school_df

# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

# Initialize a new DataFrame.
schools_df = pd.DataFrame()

# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["school_name"] = school_name
schools_df["type_of_school"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter